@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <img src="images/image1.jpg" style="width: 1200px; height: 500px;"/>
    </body>
</html>

